.socialMedia {
  width: 100%;
  height: 45px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.socialMedia > img {
  width: 30px;
  margin-right: 25px;
}
.socialMedia > p {
  color: white;
}
